<!-- Team Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">A few facts, some of them random</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="row">
                    <div class="col-sm-4 team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <!-- <h4>{{ member.name }}</h4> -->
                        <!-- <p class="text-muted">{{ member.position }}</p> -->
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                <!-- </div> -->
                <div class="about-me col-sm-8">
                        <p class="text-muted">I am an experienced software engineer with a passion for creating elegant applications that will delight users. I believe in striving for clean maintainable code and for always looking for the optimal solution. I hold myself to very high standards and my overarching career goal is to make a tangible positive difference in the world. I also like to write the occasional article on Medium. See my articles <a href="https://medium.com/@kathleenbrand">here.</a></p>
                        <br>
                        <div>
                            <h4>A few random facts</h4>
                            <div class="text-muted">
                            <ul>
                                <li>I am a Star Wars fanatic</li>
                                <li>I am a bird nerd</li>
                                <li>I would like to one day have my own library</li>
                                <li>If I never had to cook again, that would be great</li>
                                <li>If I had a superpower, I would be a shape shifter</li>
                                <li>I am currently working towards the AWS Developer Associate Certification</li>
                            </ul>
                        </div>
                        </div>
                        </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </section>